#tophr {
  background-color: rgba(81, 174, 250, 0.686);
  height: 15px;
  margin-top: 1%;
  margin-left: 5%;
  width: 90%;
}
#bankheader {
  margin-left: 5%;
  width: 88%;
  border: 1px solid black;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 1%;
}
#bankweur {
  width: 85px;
  height: 50px;
  margin-left: 5%;
  margin-right: 1%;
}
#bankicon {
  width: 50px;
  height: 50px;
  margin-left: 1%;
}
b {
  color: blue;
  text-decoration: underline;
  text-decoration-color: blue;
}
#split {
  margin-left: auto;
  text-align: center;
  margin-right: 10%;
}
#leftpage {
  margin-left: 5%;
  width: 20%;
  border: 1px solid black;
  border-top: none;
  display: inline-block;
  padding: 1%;
  height: 80%;
}
.currencybox {
  padding: 5%;
  align-items: center;
  display: flex;
  border: 1px solid black;
  width: 80%;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}
.leftpageimages {
  height: 50px;
  width: 50px;
  margin-left: 30%;
}
#welcomebox {
  border: 1px solid black;
  border-top: none;
  border-left: none;
  margin-left: 27%;
  height: 135px;
  width: 45%;
  margin-top: -36.2%;
  display: flex;
  align-items: center;
}
h1 {
  text-size: 100px;
  margin: auto;
}
#middlepage {
  display: inline-block;
  border: 1px solid black;
  width: 45%;
  margin-left: 27%;
  height: 60%;
  border-top: none;
  border-left: none;
  text-align: center;
}
#tickimg {
  height: 50px;
  width: 50px;
  margin-left: 45%;
  margin-top: -2.5px;
}
#rightpage {
  margin-left: 72%;
  margin-top: -36.3%;
  height: 80%;
  width: 20.99%;
  border: 1px solid black;
  display: space-around;
  padding: 1%;
}
#customerinformation {
  padding: 5%;
  align-items: center;
  display: flex;
  border: 1px solid black;
  width: 80%;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
}
transparenttext {
  color: rgba(0, 0, 0, 0.5);
}
#customerwallet {
  margin-left: 72%;
  border-top: none;
  width: 21%;
  border: 1px solid black;
  padding: 1%;
  align-items: center;
  display: flex;
  position: relative;
}
#customeroperations {
  margin-left: 72%;
  border-top: none;
  width: 21%;
  border: 1px solid black;
  padding: 1%;
  align-items: center;
  display: flex;
  position: relative;
}
#bottompart {
  border: 1px solid black;
  width: 90%;
  margin-left: 5%;
  height: 100px;
  display: flex;
}
.bottomboxes {
  border: 3px solid rgba(0, 0, 0, 0.5);
  width: 90%;
  margin-left: 5%;
  height: 100px;
  display: inline-block;
  text-align: center;
}
